*{
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    list-style: none;
    box-sizing: border-box;
    font-family: sans-serif;
    color: var(--secondary-color);
}

:root{
    --primary-color: #1d1e2c;
    --secondary-color: #ac9fbb;
    --danger-color: #59656f;
    --prim-color: #ddbdd5;
    --sec-color: #f7ebec;
}

body{
    background-color: var(--primary-color);
}

.container,form{
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    flex-direction: column;
    gap: 1rem;
    padding: .8rem .5rem;
    border: 2px solid var(--prim-color);
    backdrop-filter: blur(5px);
    border-radius: 1rem;
    
}

input{
    background: none;
    padding: .5rem .8rem;
    margin-left: 10px;
    border: none;
    border-bottom: 2px solid var(--sec-color);
    outline: none;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="file"]{
    padding: 1em;
    border: none;
}

button{
    padding: .5rem 1rem;
    border-radius: 2rem;
    background: transparent;
    transition: .5s;
    border:3px solid var(--prim-color);
    font-weight: 900;
    font-size: .8rem;
}

button:hover{
    background: var(--danger-color);
}

